/* latin-ext */
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url(/fonts/italic-latin-ext.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url(/fonts/italic-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/fonts/latin-ext.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/fonts/latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    height: 100%;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
    margin: 0;
    height: 100%;
    font-size: 14px;
    background-color: #ecf3f0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
    font-weight: 600;
    text-decoration: none;
    color: #0e7569;
}

#root {
    min-height: 100%;
    padding-left: .5rem;
    padding-top: 1rem;
}

.MuiTypography-root {
    font-family: Inter, sans-serif;
}

/*  There is an issue with passing empty array for socialProviders,
    google auth can sometimes appear despite it being hidden,
    this is why in index.css federated-sign-in-container display is set to none */
.federated-sign-in-container {
    display: none !important;
}

/*Auth form styling*/
[data-amplify-authenticator] {
    --amplify-colors-brand-primary: #0E7569;
    --amplify-colors-brand-primary-80: #0E7569;
    --amplify-colors-brand-primary-90: #00C6AF;
    --amplify-colors-brand-primary-100: #0E7569;
    --amplify-font-family: 'Inter', sans-serif;
    --amplify-components-authenticator-router-border-width: 0;
    --amplify-components-button-primary-background-color: #0E7569;
    --amplify-components-button-primary-hover-background-color: #095149;
    --amplify-components-authenticator-container-width-max: 45em;
}

[data-amplify-authenticator] button {
    font-family: 'Inter', sans-serif;
}

[data-amplify-authenticator] button[aria-selected="true"] {
    color: var(--amplify-colors-brand-primary);
    border-width: 0;
}

[data-amplify-authenticator] button[aria-selected="false"] {
    color: #454545;
    background-color: #ecf3f0;
    font-weight: 500;
}

[data-amplify-authenticator] .landing-page-header {
    padding-top: 4em;
    padding-bottom: 1em;
}

[data-amplify-authenticator] .landing-page-header p {
    text-align: justify;
    padding-top: 1em;
    font-size: 16px;
}

[data-amplify-authenticator] .amplify-button--small {
    color: #0e7569;
}

[data-amplify-authenticator] .google-container {
    margin-left: auto;
    margin-right: auto;
    padding: 1em 2em 0 2em;
    width: 100%;
}

[data-amplify-authenticator] .or-divider {
    margin-top: 1em;
    color: #BAC0BE;
    font-size: 14px;
}

[data-amplify-form] {
    width: 100%;
    max-width: 45em;
    padding: 0 2em 0 2em !important;
}

